@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

@font-face {
  font-family: 'founder-medium';
  src: url('./../../public/FoundersGroteskXCond-Bold.otf') format('otf'),



}

/* Optionally, you can apply the font to specific elements */
.font1 {
  font-family: 'founder-medium', "founder-grotesk";
}






/* This only changes this particular animation duration */
.animate__animated.animate__fadeInLeft {
  --animate-duration: 2s;
}

/* This changes all the animations globally */

@media (max-width:1020px) {
  .menu-container {

    display: none;
  }

  .menu-icon {
    display: block;
  }

  .arrow-icon {
    display: none;
  }

  .textcenter {
    justify-content: center;
    align-items: center;
  }

 
}
@media (max-width:600px){
  
.landing-footer{
display: block;
margin-right: 100px;
margin-top: 10px;
}
.arrow-icon {
  display: none;
}

}


