@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

@font-face {
  font-family: 'founder-medium';
  src: url('./../../public/FoundersGroteskXCond-Bold.otf') format('otf'),
}

.font1 {
  font-family: 'founder-medium', "founder-grotesk";
}



.flexx{
  justify-content: center;
  align-items: center;
}


/* This only changes this particular animation duration */
.animate__animated.animate__fadeInLeft {
  --animate-duration: 2s;
}

/* This changes all the animations globally */

@media (max-width:1020px) {
  .menu-container {

    display: none;
  }

  .menu-icon {
    display: block;
  }

  .wh {
    width: 100%;
  }
  
  .card {
    flex-wrap: wrap;
    justify-content: center;
  }
  .wrap{
    flex-wrap: wrap;

  }
  .textcenter {
    justify-content: center;
    align-items: center;
  }
  .px{
    margin: 0vw 5vw 5vw;
  }

 
}
@media (max-width:600px){
  
.landing-footer{
display: block;
margin-right: 100px;
margin-top: 10px;
}
.arrow-icon {
  display: none;
}
.px6{
  flex-wrap: wrap;

}


}


